body{
  font-family: sans-serif;
}
h1, h2{
  color: gray;
}
h1{
  border-bottom: 1px solid black;
}
p{
    color: brown;
}
em{
  font-family: serif;
}
.chaverde{
  color: green;
}
.framboesa{
  color: blue;
}
.elixir{
  color: purple;
}
